@import "../../../../../styles/theme";

.repo-files-commit {
    grid-area: files;
    display: block;
    height: 100%;
    overflow: auto;

    .files {
        display: grid;
        grid-template-columns: 2rem auto;
        grid-template-rows: 1fr;
        grid-gap: 0;
        height: 2rem;
        width: 100%;
        margin-bottom: 0.25rem;
        border-radius: 4px;

        &:hover {
            background: $primary-black-lighter;
        }

        &.active {
            background: $primary-black !important;
            box-shadow: $shadow-light;
        }

        .added {
            span {
                &:first-child {
                    position: relative;
                    width: 14px;
                    height: 14px;

                    svg {
                        top: 1px;
                        left: 0;
                    }
                }
            }
        }

        .directory {
            overflow: hidden;
            display: grid;
            grid-template-areas: 'directory name type';
            grid-template-columns: auto minmax(max-content, 1fr) 2rem;
            grid-template-rows: 1fr;
            grid-gap: 0;
            width: 100%;
            font-size: 0.85rem;
            line-height: 0.85rem;
            align-items: center;
            user-select: none;

            .directory-path {
                grid-area: directory;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .file-name {
                grid-area: name;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                line-height: 1rem;
            }

            .type-action {
                grid-area: type;
                display: grid;
                place-content: center;

                i {
                    font-size: 1rem;
                }
            }
        }
    }
}
