<div class="repo-files-commit">
  <div (click)="viewDiffFile(file, i)" (contextmenu)="openContextDialog(file)"
       *ngFor="let file of statusSummary?.files; let i = index; trackBy: trackByPath" [class.active]="file.active"
       class="files">
    <div class="added acomi-checkbox-control">
      <input (click)="toggleCheckFile(i)" [checked]="file.checked" [id]="'file_check_'+i" class="acomi-input-box" hidden
             type="checkbox"/>
      <label [htmlFor]="'file_check_'+i" class="cbx">
        <span>
          <svg height="10px" viewbox="0 0 12 10" width="12px">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
          </svg>
        </span>
      </label>
    </div>
    <div [title]="file.path" class="directory">
      <div class="directory-path text-muted">
        {{utilities.extractFrontPath(file.path).front}}
      </div>
      <div class="file-name">
        {{utilities.extractFrontPath(file.path).end}}
      </div>
      <div class="type-action">
        <ng-container *ngIf="(file.index === '?' && file.working_dir === '?') || file.index === 'A'">
          <span class="created text-success">
            <i class="far fa-plus-square"></i>
          </span>
        </ng-container>
        <ng-container *ngIf="file.index === 'D'">
          <span class="deleted text-danger">
            <i class="far fa-minus-square"></i>
          </span>
        </ng-container>
        <ng-container *ngIf="file.index === ' ' && file.working_dir === 'M'">
          <span class="modified text-warning">
            <i class="fas fa-pen-square"></i>
          </span>
        </ng-container>
        <ng-container *ngIf="file.index === 'R'">
          <span class="renamed text-info">
            <i class="fas fa-exchange-alt"></i>
          </span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
