<form [formGroup]="accountForm" class="register-new">
    <div class="form-group">
        <label for="username">
            Username
        </label>
        <input class="form-control form-control-dark"
               formControlName="username"
               id="username"
               name="username"
               placeholder="Username"
               type="text">
    </div>
    <div class="form-group">
        <label for="password">
            Password
        </label>
        <input class="form-control form-control-dark"
               formControlName="password"
               id="password"
               name="password"
               placeholder="password"
               type="password">
    </div>
    <input formControlName="uuid" type="hidden">
    <small class="text-muted">
        Credentials is needed to perform action with private repository. After successfully authorized, the account will
        be
        saved and you are no longer needed to re-enter your credentials.
    </small>
    <br>
    <small class="text-danger">
        Account information will be stored locally. Be aware!
    </small>
</form>
