<form [formGroup]="formRegisterRepository"
      class="main-form">
  <h2 class="text-white title-section weight-lighter m-0">
    Adding existing local repository
  </h2>

  <div *ngIf="!!repository_register_error"
       class="info-dialog card bg-danger">
    <div class="card-body text-white">
      {{repository_register_error}}
    </div>
  </div>

  <ng-container *ngIf="repository_directory.dirty && repository_directory.invalid">
    <div *ngIf="repository_directory.hasError('directory')"
         class="info-dialog card bg-danger">
      <div class="card-body text-white">
        {{repository_directory.getError('directory')}}
      </div>
    </div>

    <div *ngIf="repository_directory.hasError('repository')"
         class="info-dialog card bg-warning">
      <div class="card-body text-black">
        {{repository_directory.getError('repository')}}
      </div>
    </div>
  </ng-container>

  <div class="repository-information">
    <h2 class="weight-lighter mb-0">Local Repository</h2>
    <div class="block-secondary-title">
      <span class="m-0">
        Repository directory
      </span>
    </div>
    <label (click)="chooseDirectory()" class="wrap--ng">
      <input class="form-control form-control-dark form-control-float cursor-pointer"
             formControlName="repository_directory"
             id="directory"
             readonly>

      <span class="icon-folder--container">
        <em class="fas fa-folder"></em>
      </span>
    </label>
    <small *ngIf="repo_name.valid" class="text-muted">
      Repository will be added to manage list as "{{repo_name.value}}"
    </small>
  </div>

  <div class="repository-credentials">
    <h2 class="weight-lighter">Repository Repository</h2>
    <div class="btn--section">
      <button (click)="switchAccountChooseMode(true)"
              [class.bg-success]="isListAccountTab"
              [class.bg-transparent]="!isListAccountTab"
              class="text-white"
              mat-flat-button
              type="button">
        Saved Account
      </button>
      <button (click)="switchAccountChooseMode(false)"
              [class.bg-success]="!isListAccountTab"
              [class.bg-transparent]="isListAccountTab"
              class="text-white"
              mat-flat-button
              type="button">
        New Account
      </button>
    </div>
    <ng-container *ngIf="isListAccountTab">
      <gitme-credential-list (accountSelectedChange)="listenAccount($event)">
      </gitme-credential-list>
    </ng-container>

    <ng-container *ngIf="!isListAccountTab">
      <gitme-credential-input (accountNewChange)="listenAccount($event, true)">
      </gitme-credential-input>
    </ng-container>
  </div>
  <div class="confirmation-action">
    <button (click)="cancel()" class="bg-transparent" mat-flat-button type="button">
      Cancel
    </button>
    <button (click)="submitNewRepository()"
            [disabled]="formRegisterRepository.invalid || needCreateNewGitDirectory || formRegisterRepository.pending"
            color="primary"
            mat-raised-button
            type="button">
      Confirm
    </button>
  </div>
</form>
