<form [formGroup]="accountForm" class="m-0 p-0">
    <div *ngFor="let account of listExistedAccount"
         class="card bg-transparent stored-account">
        <div class="card-body body-content row m-0">
            <div class="col-auto">
                <div class="account-avatar">
                    <img [src]="account.avatar_remote ? account.avatar_remote : account.avatar_local" alt="">
                </div>
            </div>
            <div class="col row">
                <div class="col pl-0">
                    <div class="col-12">
                        {{account.name_remote ? account.name_remote : account.name_local}}
                    </div>
                    <div class="col-12">
                        {{account.username}}
                    </div>
                </div>
                <div class="col-auto acomi-checkbox-control">
                    <input [value]="account"
                           class="acomi-input-box"
                           formControlName="account"
                           hidden
                           id="cbx"
                           name="account"
                           type="radio"/>
                    <label class="cbx" for="cbx">
                <span>
                  <svg height="10px" viewbox="0 0 12 10" width="12px">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                  </svg>
                </span>
                    </label>
                </div>
            </div>
        </div>
    </div>

</form>
