.hljs-string {
    color: forestgreen;
}

.hljs-keyword, .hljs-literal {
    color: orange;
}

.hljs-comment {
    color: grey;
}

.hljs-attribute {

}

.hljs-number {
    color: #506EEC;
}

.hljs-built_in {
    color: blueviolet;
}
