<div class="container-fluid">
    <label class="search-branches">
        <input class="form-control form-control-dark form-control-float"
               placeholder="Find branch"
               type="text">
    </label>

    <div class="branch-action">
        <button class="btn-block"
                mat-flat-button
                (click)="openOptionNewBranch()"
                type="button">
            <i class="fas fa-plus"></i>
            New Branch
        </button>
    </div>

    <div class="list-branches">
        <gitme-branch-item *ngFor="let branch of branches"
                           class="branch"
                           [branchSummary]="branch">
        </gitme-branch-item>
    </div>
</div>
