<div class="container-fluid">
  <label class="search-branches">
    <input class="form-control form-control-dark form-control-float"
           placeholder="Find branch"
           [(ngModel)]="searchText"
           (keyup)="onSearchText()"
           type="text">
  </label>

  <div class="branch-action">
    <button (click)="openOptionNewBranch()"
            class="btn-block"
            mat-flat-button
            type="button">
      <i class="fas fa-plus"></i>
      New Branch
    </button>
  </div>

  <div class="list-branches">
    <ng-container *ngIf="searchBranches.length == 0">
      <gitme-branch-item *ngFor="let branch of branches; trackBy: trackBranchID"
                         [branchSummary]="branch"
                         class="branch">
      </gitme-branch-item>
    </ng-container>
    <ng-container *ngIf="searchBranches.length > 0">
      <gitme-branch-item *ngFor="let branch of searchBranches; trackBy: trackBranchID"
                         [branchSummary]="branch"
                         class="branch">
      </gitme-branch-item>
    </ng-container>
  </div>
</div>
