<div class="container-fluid">
    <div class="search-branches">
        <input class="form-control search"
               mdbInput
               placeholder="Find branch"
               type="text">
        <hr class="m-0 p-0">
    </div>

    <div class="branch-action">
        <button [color]="'primary'"
                class="btn-block"
                mat-icon-button
                type="button">
            <i class="fas fa-plus"></i>
            New Branch
        </button>
    </div>

    <div class="list-branches">
        <gitme-branch-item *ngFor="let branch of branches | async"
                           [branchSummary]="branch">
        </gitme-branch-item>
    </div>
</div>
