<form [formGroup]="formRegisterRepository" class="main-form">
    <div class="form-group mb-3">
        <label for="directory">Repository directory</label>
        <div class="wrap--ng">
            <input class="form-control form-control-dark"
                   formControlName="repo_dir_display"
                   id="directory">

            <div (click)="chooseDirectory()"
                 class="icon-folder--container">
                <i class="fas fa-folder"></i>
            </div>
        </div>
        <small class="text-muted">
            Repository will be added to manage list as "abc"
        </small>
        <hr>
        <h5>Repository credentials</h5>
        <div class="row mb-3">
            <div class="col">
                <button (click)="isExistingAccount = true"
                        [class.bg-dark]="!isExistingAccount"
                        [class.bg-success]="isExistingAccount"
                        block="true"
                        class="text-white"
                        mdbBtn size="sm">
                    Stored Account
                </button>
            </div>
            <div class="col">
                <button (click)="isExistingAccount = false"
                        [class.bg-dark]="isExistingAccount"
                        [class.bg-success]="!isExistingAccount"
                        block="true"
                        class="text-white"
                        mdbBtn size="sm">
                    New Account
                </button>
            </div>
        </div>
        <ng-container *ngIf="isExistingAccount">
            <gitme-credential-list></gitme-credential-list>
        </ng-container>

        <ng-container *ngIf="!isExistingAccount">
            <gitme-credential-input (isCredentialsValid)="credentialsFormValid = $event">
            </gitme-credential-input>
        </ng-container>
    </div>
    <div class="d-flex flex-end--ng">
        <button (click)="cancelAdding()" class="mr-3" color="dark" mdbBtn size="sm">
            Cancel
        </button>
        <button color="success" mdbBtn size="sm">
            Confirm
        </button>
    </div>
</form>
<div (click)="cancelAdding()"
     class="backdrop background-opacity-black"></div>
