@import "src/styles/theme";

:host {
  position: fixed;
  left: 0;
  right: 0;
  top: 32px;
  bottom: 0;
  display: grid;
  place-content: center;

  background-color: $transparent-backdrop;
}

.main-form {
  z-index: 100;
  width: 430px;
  height: max-content;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: $background-primary-night;
  box-shadow: $shadow-light;

  display: flex;
  flex-direction: column;
}

.flex-end--ng {
  justify-content: flex-end;
}

.wrap--ng {
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;

  .form-control {
    padding-right: calc(36px + 0.5rem);
  }

  .icon-folder--container {
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    width: 36px;
    display: grid;
    place-content: center;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    i {
      color: whitesmoke;
      font-size: 1.25rem;
    }
  }
}

.stored-account {
  margin-bottom: 0.5rem;

  .body-content {
    padding: 0.5rem;
    font-size: 12px;
  }

  .account-avatar {
    overflow: hidden;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
