<div class="container-fluid w-100">
  <div (click)="isAddRepositoryActionOn = false" *ngIf="isAddRepositoryActionOn"
       class="backdrop background-opacity-black"></div>
  <label class="search-repositories">
    <input class="form-control form-control-dark form-control-float search w-100"
           placeholder="Find local repo"
           type="text">
  </label>

  <div [class.repo-action-on]="isAddRepositoryActionOn"
       class="add-new-repository">
    <button (click)="isAddRepositoryActionOn = true"
            class="button-init"
            color="primary"
            mat-flat-button
            type="button">
      <em class="fas fa-plus"></em>
      New Repository
    </button>

    <div class="button-slide">
      <div (click)="cloneRepositoryDialogOn()" class="btn-action clone-action">
        Clone from internet
        <br>
        <small class="text-muted">
          Currently supporting GitHub and GitLab
        </small>
      </div>
      <div (click)="addRepositoryDialog()" class="btn-action exist-action">
        Add from local machine
        <br>
        <small class="text-muted">
          Add existing repository to manage
        </small>
      </div>
      <div class="btn-action new-action">
        Make a new repository
        <br>
        <small class="text-muted">
          Add existing folder as a repository
        </small>
      </div>
    </div>

    <gitme-repository-clone *ngIf="isCloneRepositoryDialogOn | async">
    </gitme-repository-clone>
    <gitme-repository-add-local *ngIf="isAddRepositoryDialogOn | async">
    </gitme-repository-add-local>
  </div>

  <div class="list-repositories">
    <gitme-repository-item *ngFor="let repo of (repositories | async); trackBy: trackBy"
                           [repository]="repo"
                           class="repo"></gitme-repository-item>
  </div>
</div>
