<div class="repo-files-commit">
    <div *ngFor="let file of statusSummary?.files"
         class="files">
        <div class="added acomi-checkbox-control">
            <input [value]="file"
                   checked
                   class="acomi-input-box"
                   hidden
                   id="cbx"
                   name="file"
                   type="checkbox"/>
            <label class="cbx" for="cbx">
                    <span>
                      <svg height="10px" viewbox="0 0 12 10" width="12px">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                      </svg>
                    </span>
            </label>
        </div>
        <div [title]="file.path" class="directory">
            <div class="directory-path text-muted">
                {{utilities.extractFrontPath(file.path).front}}
            </div>
            <div class="file-name">
                {{utilities.extractFrontPath(file.path).end}}
            </div>
            <div class="type-action">
                <ng-container *ngIf="utilities.isStringExistIn(file.path, statusSummary.created)">
                    <span class="created">
                        <i class="far fa-plus-square"></i>
                    </span>
                </ng-container>
                <ng-container *ngIf="utilities.isStringExistIn(file.path, statusSummary.deleted)">
                    <span class="deleted">
                        <i class="far fa-minus-square"></i>
                    </span>
                </ng-container>
                <ng-container *ngIf="utilities.isStringExistIn(file.path, statusSummary.modified)">
                    <span class="modified">
                        <i class="fas fa-pen-square"></i>
                    </span>
                </ng-container>
            </div>
        </div>
    </div>
</div>
