@import "src/styles/theme";

.tb-container {
    height: calc(100vh - 152px);
    width: calc(100vw - 350px);
    overflow: auto;

    display: grid;
    grid-template-areas: 'index context';
    grid-template-columns: 170px auto;
    grid-template-rows: 1fr;
    grid-gap: 0;

    .row-diff {
        grid-area: index;
        height: max-content;
        display: grid;
        grid-template-columns: 85px 85px;
        grid-template-rows: 1.3rem;
        grid-gap: 0;
        background: $background-primary-night-selected;

        .col-index-old, .col-index-new {
            text-align: right;
            padding: 0 0.5rem;
            font-size: 0.9rem;
            border-right: 1px solid $background-primary-night-hover;
        }
    }

    .row-diff-context {
        grid-area: context;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.3rem;
        height: max-content;
        width: calc(100vw - 170px - 350px);
        overflow: auto;

        .diff-text {
            white-space: pre;
            padding: 0 0.25rem 0 0.5rem;
            font-size: 0.9rem;
        }
    }
}

table.tb {
    width: max-content;
    min-width: 100%;

    tr, tr.td, tr.th {
        vertical-align: center;
        height: 1.3rem;
    }

    th {
        text-align: center;
        height: 1.3rem;
    }

    .tb-index {
        width: max-content;
        max-width: 170px;
        min-width: 120px;
        text-align: center;
    }

    .tb-index, .tb-index-item {
        background: $background-primary-lighter-night;
    }

    .tb-type {
        width: 30px;
    }

    tr.tb-trow {
        height: 1.3rem;
    }

    .tb-index-item {
        width: 85px;
        padding: 0 1rem;
        vertical-align: center;
        text-align: right;

        &:nth-child(odd) {
            border-right: 1px solid $background-primary-night;
        }
    }

    th.tb-index-item {
        text-align: center;
    }
}
