<div class="tb-container">
    <div *ngFor="let block of outputHTML?.blocks[0].lines"
         [class.d2h--ng--insert]="block.type == 'd2h-ins'"
         [class.d2h--ng--remove]="block.type == 'd2h-del'"
         class="ng-row-diff">
        <div class="row-index nonSelectable">
            <div class="row-index-item old">{{block.oldNumber}}</div>
            <div class="row-index-item new">{{block.newNumber}}</div>
        </div>
        <div class="row-diff-type nonSelectable">
            <ng-container *ngIf="block.type == 'd2h-del'">-</ng-container>
            <ng-container *ngIf="block.type == 'd2h-ins'">+</ng-container>
        </div>
        <div [innerHTML]="block.content | safeHtml"
             class="row-diff-content language-{{outputHTML?.language}}"></div>
    </div>
</div>
