@import "src/styles/theme";

:host {
    position: fixed;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-content: center;
    background: $transparent-backdrop;

    .body-modal {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto max-content;
        grid-gap: 1rem;
        width: 450px;
        height: calc(100% - 5rem);
        min-height: 350px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        border-radius: 0.5rem;
        background: $background-primary-lighter-night;
        box-shadow: $shadow-light;
        overflow: auto;
    }
}

.setup-form {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    grid-gap: 1rem;

    .repository_directory {
        display: flex;
        flex-direction: column;
    }
}

.action-form {
    display: flex;
    justify-content: flex-end;
}

.custom-form-control-feature {
    display: grid;
    grid-template-columns: auto 38px;
    grid-template-rows: 1fr;
    grid-gap: 0;
    align-items: center;
    padding: 0;
    overflow: hidden;

    .illuminate_area {
        display: flex;
        height: 100%;
        align-items: center;
        padding-left: 0.75rem;
        overflow: auto;
        white-space: nowrap;

        &:hover {
            background: $primary-black;
        }
    }

    .directory_copy {
        display: grid;
        place-content: center;

        &:hover {
            background: $primary-black;
        }
    }
}

.register-new {
    font-size: 12px;
}
