<h1 mat-dialog-title>
    {{emittedDataFromView.title}}
</h1>
<form [formGroup]="formOptions" class="optionsList" mat-dialog-content>
    <ng-container *ngFor="let item of commitOption.controls; let i = index;"
                  formArrayName="options">
        <ng-container [formGroupName]="i">
            <div class="innerContent">
                <label>
                    <input (focusout)="removeEmptyCommand()"
                           (keyup)="typingCommand()"
                           class="form-control form-control-dark form-control-float"
                           formControlName="argument"
                           placeholder="Argument"
                           type="text">
                </label>
                <label>
                    <input (focusout)="removeEmptyCommand()"
                           (keyup)="typingCommand()"
                           class="form-control form-control-dark form-control-float"
                           formControlName="value"
                           placeholder="Value"
                           type="text">
                </label>
            </div>
        </ng-container>
    </ng-container>
</form>
<div class="footDialog" mat-dialog-actions>
    <div class="text-danger">
        {{errorMessage}}
    </div>

    <div class="group-decide">
        <button mat-button mat-dialog-close>
            {{emittedDataFromView.decision.noText}}
        </button>
        <button (click)="submitNewOptions()"
                [class.bg-info]="!(!formOptions.valid || !!errorMessage)"
                [class.bg-primary-black-darker]="!formOptions.valid || !!errorMessage"
                [disabled]="!formOptions.valid || !!errorMessage"
                color="primary"
                mat-button>
            {{emittedDataFromView.decision.yesText}}
        </button>
    </div>
</div>
