<div class="inner-content">
  <div class="title nonSelectable">
    <div class="wt">
      <h1 class="w weight-lighter">
        Welcome
      </h1>
      <h1 class="t weight-lighter">
        To
      </h1>
    </div>
    <div class="an">
      <h1><span class="text-danger">GIT</span>me</h1>
    </div>
  </div>
  <h4 class="weight-lighter text-muted text-align-justify nonSelectable">
    A minimized Version Control Client that improves your productivity.
  </h4>

  <hr style="border: 1px solid  rgb(55, 55, 61)">

  <h3 class="text-muted text-center weight-lighter nonSelectable">
    Start using now
  </h3>
  <div class="btn-choices-box">
    <button (click)="cloneHTTPBtn()" class="w-100 bg-primary-black-darker" mat-flat-button>
      Clone from internet
    </button>
    <button (click)="importLocalBtn()" class="w-100 bg-primary-black-darker" mat-flat-button>
      Import from existing local
    </button>
    <button class="w-100 bg-primary-black-darker" mat-flat-button>
      Create new repository
    </button>
  </div>

  <hr style="border: 1px solid  rgb(55, 55, 61); margin-top: 1rem">

  <div class="about-us">
    <span class="text-muted mr-2 nonSelectable">Visit Us</span>
    <button (click)="openGitHub()" class="bg-primary-black-darker" mat-icon-button>
      <em class="fab fa-github"></em>
    </button>
  </div>
</div>
