@import "src/styles/theme";

:host {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: 'selection' 'branches' 'actions';
  grid-template-columns: 300px;
  grid-template-rows: repeat(3, 80px) auto;
  grid-gap: 0;
  box-shadow: $shadow-light;

  .function {
    background-color: $background-secondary-night;
    user-select: none;
    display: grid;
    align-items: center;
    transition: all 0.2s;

    .inner-title {
      width: 100%;
      height: 100%;
      cursor: pointer;

      &.feature-right {
        display: grid;
        padding: 0;
        grid-template-columns: auto 50px;
        grid-template-rows: 100%;

        .main-function {
          padding: 0.5rem 0 0.5rem 0.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }

        .right-feature {
          height: 100%;
          width: 100%;
          display: grid;
          place-content: center;
          cursor: pointer;

          &:hover {
            background: rgba(0, 0, 0, 0.05);
          }
        }
      }

      &.raw {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }

      .title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        &.feature-right {
          display: grid;
          grid-template-columns: auto max-content;
          grid-template-rows: 1fr;
          align-items: center;
          grid-gap: 0.5rem;
        }
      }

      .status, .title-secondary {
        font-size: 0.7rem;
        line-height: 0.7rem;
        display: flex;
        align-items: center;

        .badge {
          padding: 0.15rem 0.3rem;
          font-size: 0.6rem;
          line-height: 0.6rem;

          &:not(:first-child) {
            margin-left: 0.5rem;
          }
        }
      }
    }

    &.repo-selection {
      grid-area: selection;
    }

    &.repo-actions {
      grid-area: actions;
    }

    &.repo-branches {
      position: fixed;
      top: calc(80px + 32px); // plus with win frame
      left: 0;
      height: 80px;
      width: 300px;

      &.open {
        top: 32px;
      }
    }

    &.open {
      background-color: $background-primary-night-selected;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.text-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
}
