<div [class.open]="isRepositoryBoxOpen"
     appIsClickOutside
     class="function repo-selection">
  <div class="inner-title feature-right">
    <div (click)="toggleRepositoryBox()" class="main-function">
      <div class="title-secondary text-muted">
        Current Repository
      </div>
      <div class="title">
        gitme-git-client
      </div>
    </div>
    <div class="right-feature">
      <i class="fas fa-cog"></i>
    </div>
  </div>

  <gitme-navigation-repositories *ngIf="isRepositoryBoxOpen"
                                 class="list-repositories">
  </gitme-navigation-repositories>
</div>

<div (isOutside)="clickOutSide($event, 'branches')"
     [class.open]="isBranchBoxOpen"
     appIsClickOutside
     class="function repo-branches">
  <div (click)="toggleBranchBox()" class="inner-title raw">
    <div class="title-secondary text-muted">
      Current Branch
    </div>
    <div class="title feature-right">
      <span class="text-nowrap">
        branch Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, id!
      </span>
      <div class="status">
        <div class="badge badge-pill badge-secondary bg-info pull-request">
          <i class="fas fa-angle-down"></i>
          222
        </div>
        <div class="badge badge-pill badge-secondary bg-success push-request">
          <i class="fas fa-angle-up"></i>
          222
        </div>
      </div>
    </div>
  </div>

  <gitme-repo-branches *ngIf="isBranchBoxOpen"></gitme-repo-branches>
</div>

<div class="function repo-actions">
  <div class="inner-title raw">
    <div class="title-secondary text-muted">
      git fetch origin
    </div>
    <div class="title feature-right">
    <span class="text-nowrap">
      Fetch remote data
    </span>
      <div class="status">
        <div class="badge badge-pill badge-secondary bg-warning changes">
          <i class="fas fa-file-invoice"></i>
          2
        </div>
      </div>
    </div>
  </div>
</div>
