@import "src/styles/theme";

:host {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: 'selection' 'branches' 'actions';
  grid-template-columns: 300px;
  grid-template-rows: repeat(3, 80px) auto;
  grid-gap: 0;
  box-shadow: $shadow-light;

  .function {
    background-color: $background-secondary-night;
    user-select: none;
    display: grid;
    align-items: center;
    padding: 1rem;
    transition: all 0.2s;

    &.repo-selection {
      grid-area: selection;
      padding: 0;
      width: 100%;
      display: grid;
      grid-template-columns: auto 50px;
      grid-template-rows: 100%;
      grid-gap: 0;
      position: relative;

      > * {
        padding: 0.5rem;
      }

      .repo-name {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        cursor: pointer;
      }

      .repo-setting {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }

    &.repo-branches, &.repo-actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .title {
        display: grid;
        grid-template-columns: auto max-content;
        grid-gap: 0.5rem;
        width: 100%;

        .text-nowrap {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    &.repo-actions {
      grid-area: actions;
      cursor: pointer;
    }

    &.repo-branches {
      position: fixed;
      top: calc(80px + 32px); // plus with win frame
      left: 0;
      height: 80px;
      width: 300px;

      &.open {
        top: 32px;
      }
    }

    &.open {
      background-color: $background-primary-night-selected;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .status, .title-secondary {
      font-size: 0.7rem;
      line-height: 0.7rem;
      display: flex;
      align-items: center;

      .badge {
        padding: 0.15rem 0.3rem;
        font-size: 0.6rem;
        line-height: 0.6rem;

        &:not(:first-child) {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}
