<div class="card">
  <div class="card-body row">
    <div class="name">
      This is some text within a card body. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae excepturi
      fuga incidunt non, pariatur perspiciatis saepe similique tenetur voluptatem? Nisi.
    </div>
    <div class="status">
      <div class="pull" [title]="pullTitle">
        <div class="circle-status bg-info"></div>
      </div>
      <div class="push" [title]="pushTitle">
        <div class="circle-status bg-success"></div>
      </div>
      <div class="changes" [title]="changesTitle">
        <div class="circle-status bg-warning"></div>
      </div>
    </div>
  </div>
</div>
