@import "src/styles/theme";

.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;

    &.background-opacity-black {
        background: $transparent-backdrop;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.text-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
}
