$background-primary-night: #1D1D1D;
$background-primary-night-selected: #1A1A1A;
$background-secondary-night: #32303F;
$background-primary-lighter-night: #383B3F;

$background-primary-lighter-hover-night: #484848;


$shadow-light: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

$transparent-backdrop: rgba(0, 0, 0, 0.75);
