$primary-black-heavy: #000000;
$primary-black: #121212;
$primary-black-lighter: #1D1D1D;

$primary-light-heavy: #000a12;
$primary-light: #263238;
$primary-light-lighter: #4f5b62;

$background-primary-lighter-night: #383B3F;

$background-primary-lighter-hover-night: #484848;


$shadow-light: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

$transparent-backdrop: rgba(0, 0, 0, 0.75);

