<div class="main-form">
    <h2 class="text-white title-section weight-lighter m-0">
        Cloning from Remote
        <span class="text-muted">HTTPS</span>
    </h2>

    <div *ngIf="infoDialogs.type !== null"
         [class.bg-danger]="infoDialogs.type == 'ERROR'"
         [class.bg-info]="infoDialogs.type == 'INFO'"
         [class.bg-warning]="infoDialogs.type == 'WARNING'"
         class="info-dialog card">
        <div [class.text-black]="infoDialogs.type == 'WARNING'"
             [class.text-white]="infoDialogs.type == 'ERROR' || infoDialogs.type == 'INFO'"
             class="card-body">
            {{infoDialogs.message}}
        </div>
    </div>

    <div class="repository-information">
        <h2 class="weight-lighter mb-0">Local Repository</h2>
        <div class="block-secondary-title">
            <label class="m-0" for="repo_https">
                Repository HTTPS
            </label>
        </div>
        <div class="wrap--ng">
            <input class="form-control form-control-dark form-control-float"
                   formControlName="repo_https"
                   id="repo_https"
                   placeholder="http://github.com/namdien177/gitme-git-client..."
                   type="text">
            <small class="text-muted mt-2">SSH coming soon</small>
        </div>
        <div class="block-secondary-title">
            <label class="m-0">
                Directory
            </label>
        </div>
        <div (click)="chooseDirectory()"
             class="wrap--ng form-control form-control-dark form-control-float">
            <div [class.text-muted]="!!repo_dir.value"
                 class="illuminate_area">
                {{illuminateValue_dir}}
            </div>
            <div class="directory_copy">
                <em class="fas fa-copy"></em>
            </div>
        </div>
        <small *ngIf="repo_name.valid" class="text-muted">
            Repository will be added to manage list as "{{repo_name.value}}"
        </small>
    </div>

    <div class="repository-credentials">
        <h2 class="weight-lighter">Repository Repository</h2>
        <div class="btn--section">
            <button (click)="isExistingAccount = true"
                    [class.bg-success]="isExistingAccount"
                    [class.bg-transparent]="!isExistingAccount"
                    class="text-white"
                    mat-flat-button>
                Saved Account
            </button>
            <button (click)="isExistingAccount = false"
                    [class.bg-success]="!isExistingAccount"
                    [class.bg-transparent]="isExistingAccount"
                    class="text-white"
                    mat-flat-button>
                New Account
            </button>
        </div>
        <ng-container *ngIf="isExistingAccount">
            <gitme-credential-list></gitme-credential-list>
        </ng-container>

        <ng-container *ngIf="!isExistingAccount">
            <gitme-credential-input></gitme-credential-input>
        </ng-container>
    </div>

    <div class="confirmation-action">
        <button (click)="cancelAdding()" class="bg-transparent" mat-flat-button>
            Cancel
        </button>
        <button [disabled]="!directoryVerified"
                class="btn-info"
                mat-raised-button>
            Clone
        </button>
    </div>

</div>
