<form [formGroup]="formCloneRepository"
      class="main-form">
  <div class="text-white title-section weight-lighter m-0">
    Cloning from Remote
    <br>
    <span>HTTPS</span>
  </div>

  <div *ngIf="!!repository_register_error"
       class="info-dialog card bg-danger">
    <div class="card-body text-white">
      {{repository_register_error}}
    </div>
  </div>

  <ng-container *ngIf="directory.dirty && directory.invalid">
    <div *ngIf="directory.hasError('directory')"
         class="info-dialog card bg-danger">
      <div class="card-body text-white">
        {{directory.getError('directory')}}
      </div>
    </div>

    <div *ngIf="directory.hasError('repository')"
         class="info-dialog card bg-warning">
      <div class="card-body text-black">
        {{directory.getError('repository')}}
      </div>
    </div>
  </ng-container>

  <div class="repository-information">
    <h2 class="weight-lighter mb-0">Remote Information</h2>

    <div class="clone-url">
      <div class="block-secondary-title">
        <span class="m-0">
          Clone URL
        </span>
      </div>
      <label class="wrap--ng">
        <input class="form-control form-control-dark form-control-float"
               formControlName="http" id="http"
               placeholder="https://github.com/onaya/repo.git">
      </label>
      <small class="text-muted">
        Cloning with SSH will be coming soon.
      </small>
    </div>

    <div class="store-directory">
      <div class="block-secondary-title">
        <span class="m-0">
          Repository directory
        </span>
      </div>
      <div (click)="chooseDirectory()" class="wrap--ng">
        <input [value]="display_directory"
               class="form-control form-control-dark form-control-float cursor-pointer"
               id="directory" readonly>

        <div class="icon-folder--container">
          <em class="fas fa-folder"></em>
        </div>
      </div>
      <small *ngIf="repo_name.valid" class="text-muted">
        Repository will be managed as "{{repo_name.value}}"
      </small>
    </div>
  </div>

  <div class="repository-credentials">
    <h2 class="weight-lighter">Repository Repository</h2>
    <div class="btn--section">
      <button (click)="switchAccountChooseMode(true)"
              [class.bg-success]="isListAccountTab"
              [class.bg-transparent]="!isListAccountTab"
              class="text-white"
              mat-flat-button
              type="button">
        Saved Account
      </button>
      <button (click)="switchAccountChooseMode(false)"
              [class.bg-success]="!isListAccountTab"
              [class.bg-transparent]="isListAccountTab"
              class="text-white"
              mat-flat-button
              type="button">
        New Account
      </button>
    </div>
    <ng-container *ngIf="isListAccountTab">
      <gitme-credential-list (accountSelectedChange)="listenAccount($event)">
      </gitme-credential-list>
    </ng-container>

    <ng-container *ngIf="!isListAccountTab">
      <gitme-credential-input (accountNewChange)="listenAccount($event)">
      </gitme-credential-input>
    </ng-container>
  </div>

  <div class="confirmation-action">
    <button (click)="cancel()" class="bg-transparent" mat-flat-button type="button">
      Cancel
    </button>
    <button (click)="submitNewRepository()"
            [disabled]="formCloneRepository.invalid || needCreateNewGitDirectory || formCloneRepository.pending"
            color="primary" mat-raised-button type="button">
      Confirm
    </button>
  </div>
</form>
