@import "src/styles/theme";

.title-section {
  display: block;
}

.clone-url {

}

.store-directory {

  .wrap--ng {
    position: relative;

    .icon-folder--container {
      height: 100%;
    }
  }
}
