<div [class.current]="isViewChangeTo === 'changes'"
     [class.history]="isViewChangeTo === 'history'"
     class="gm--file-changes">
  <div class="gm--file-btn">
    <button (click)="switchView('changes')"
            [disabled]="isViewChangeTo === 'changes'"
            class="w-100 current-btn"
            mat-flat-button>
      Changes
    </button>
    <button (click)="switchView('history')"
            [disabled]="isViewChangeTo === 'history'"
            class="w-100 history-btn"
            mat-flat-button>
      History
    </button>
  </div>

  <div class="content">
    <div class="commit-flies">
      <gitme-commit-files (checkingFiles)="setNewFilesCommit($event)"
                          (isAllFileChecked)="eventEmitCheckBoxFile($event)">
      </gitme-commit-files>
      <p *ngIf="statusSummaryFileLength == 0"
         class="text-muted text-center nonSelectable">
        No change file to be committed
      </p>
    </div>
  </div>

  <form [formGroup]="formCommitment" class="commitment">
    <div (click)="toggleCheckboxAllFile()"
         *ngIf="statusSummaryFileLength > 0"
         class="files-checkAll">
      <div class="added-checkbox acomi-checkbox-control">
        <input [checked]="checkboxAllFileStatus"
               class="acomi-input-box"
               hidden
               id="checkboxAllFile"
               type="checkbox"/>
        <label class="cbx" for="checkboxAllFile">
                <span>
                    <svg height="10px" viewbox="0 0 12 10" width="12px">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                </span>
        </label>
      </div>
      <span class="added-title">
                Select All ({{statusSummaryFileLength}}
        file{{statusSummaryFileLength > 1 ? 's' : ''}})
            </span>
    </div>

    <label class="commit-title">
      <input class="form-control form-control-dark"
             formControlName="title"
             placeholder="Commit title"
             type="text">
      <span class="focus-bg"></span>
    </label>

    <div class="commitment-btn w-100 h-100">
      <button (click)="commitSelected()"
              [disabled]="!formCommitment.valid"
              class="w-100 h-100 rounded-0"
              color="primary"
              mat-flat-button>Commit
      </button>
    </div>

    <div class="commitment-btn-more">
      <button (click)="toggleOptionCommit()"
              [class.bg-info]="customOptionCommit"
              class="rounded-0"
              mat-icon-button>
        <i class="fas fa-ellipsis-v"></i>
      </button>
    </div>

    <div *ngIf="!!customOptionCommit" class="commitment-option-expanded">
      <div class="option">
        <div class="option-title">
          <button (click)="openCommitOptions()"
                  class="bg-primary-black rounded-0"
                  mat-icon-button>
            <i class="fas fa-edit"></i>
          </button>
        </div>

        <div class="option-preview">
          <div [class.text-muted]="(optional.value | gitCommitOptions) === 'none'">
            Additional commands
          </div>
          <div [class.text-muted]="(optional.value | gitCommitOptions) === 'none'"
               class="option-info">
            {{optional.value | gitCommitOptions}}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
