<small class="text-muted">
  On branch:
</small>

<h2 class="m-0 weight-lighter">
  {{data.branch.name}}
</h2>
<hr>
<div (click)="openMerge()"
     *ngIf="!isCurrent"
     class="card mb-1">
  <div class="card-body">
    Merge this branch
    <br>
    <small class="text-muted">Check and merge the changes from this branch to current branch</small>
  </div>
</div>
<div (click)="deleteBranch()"
     *ngIf="!isMaster"
     class="card mb-1">
  <div class="card-body">
    Delete branch
    <br>
    <small class="text-warning">The action cannot be undone</small>
  </div>
</div>

<div (click)="renameBranch()"
     *ngIf="!isMaster"
     class="card mb-1">
  <div class="card-body">
    Rename branch
    <br>
    <small class="text-warning">The action cannot be undone</small>
  </div>
</div>
