@import "src/styles/theme";

:host {
  display: grid;
  grid-template-areas: 'information' 'diffs';
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 3.5rem calc(100vh - 112px - 3.5rem);
  position: relative;

  .file-information {
    grid-area: information;
    border-bottom: 1px solid $primary-black;
  }

  .commit-content {
    grid-area: diffs;
    overflow: auto;
    height: 100%;
    width: 100%;
    position: relative;
  }
}

.commit-title {
  display: grid;
  grid-template-areas: 'icon info feature';
  grid-template-rows: 1fr;
  grid-template-columns: 3.5rem auto max-content;
  align-items: center;

  .icon {
    grid-area: icon;
    display: grid;
    place-content: center;

    .circle {
      background: $primary-black;
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 50%;
      display: grid;
      place-content: center;
      font-size: 1rem;
      line-height: 1rem;
    }
  }

  .info {
    grid-area: info;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5rem 2rem;
    grid-gap: 0;
    align-items: center;

    .directory-status {
      display: flex;
      font-size: 0.8rem;
      line-height: 1rem;
      align-self: end;
      align-items: flex-end;

      * {
        color: inherit !important;
      }

      .status {
        margin-right: 0.25rem;
      }

      .directory {
      }
    }

    .name {
      font-size: 1.1rem;
      align-self: start;
    }
  }

  .features {
    grid-area: feature;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0.5rem;
    padding-right: 0.5rem;
  }
}

.commit-content {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 1fr;
  grid-gap: 0;
  grid-template-areas: 'list diffs';
  height: calc(100vh - 80px - 5.5rem);

  .file-list {
    grid-area: list;
    display: block;
    height: inherit;
    padding: 0.25rem;
    overflow: auto;
    box-shadow: $shadow-light;
    width: 300px;

    .files {
      display: flex;
      align-items: center;
      height: 2.5rem;
      width: calc(300px - 0.5rem);
      margin-bottom: 0.25rem;
      padding-left: 0.25rem;

      &:hover {
        background: $primary-black-lighter;
      }

      &.active {
        background: $primary-black !important;
        box-shadow: $shadow-light;
      }

      .added {
        span {
          &:first-child {
            position: relative;
            width: 14px;
            height: 14px;

            svg {
              top: 1px;
              left: 0;
            }
          }
        }
      }

      .directory {
        overflow: hidden;
        display: grid;
        grid-template-areas: 'directory name type';
        grid-template-columns: auto max-content 2rem;
        grid-template-rows: 1fr;
        grid-gap: 0;
        width: calc(300px - 0.75rem);
        font-size: 0.85rem;
        line-height: 0.85rem;
        align-items: center;
        user-select: none;

        .directory-path {
          grid-area: directory;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: calc(300px - 0.75rem);
        }

        .file-name {
          grid-area: name;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          line-height: 1rem;
        }

        .type-action {
          grid-area: type;
          display: grid;
          place-content: center;

          i {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .file-diffs {
    grid-area: diffs;
    position: relative;
    overflow: auto;
  }
}
