<header class="vw-100 navbar-header">
  <strong><span>GIT</span>me</strong>

  <nav class="nav-frame">
    <div class="col-auto">
            <span class="text-muted">
                Beta v{{appConfig?.version}}
            </span>
    </div>
    <div class="col functionaries">
      <div (click)="minimizeWindows()" class="clickable-btn minimize-btn">
        <i class="fas fa-minus"></i>
      </div>
      <div (click)="closeWindows()" class="clickable-btn close-btn">
        <i class="fas fa-times"></i>
      </div>
    </div>
  </nav>
</header>
