@import "src/styles/theme";

:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11100;
    height: 32px;
    background-color: $primary-black;
}

header.navbar-header {
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 0.75rem;
    align-items: center;
    height: 100%;
    width: 100%;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    padding-left: 1rem;
    box-shadow: $shadow-light;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    strong {
        color: white;

        span {
            color: red;
        }
    }

    nav.nav-frame {
        height: 100%;
        display: grid;
        grid-template-columns: auto max-content;
        grid-gap: 0.75rem;
        align-items: center;
        justify-content: right;
        padding: 0 0.5rem 0 1rem;

        .functionaries {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-gap: 0.75rem;
            height: 100%;
            align-items: center;

            .clickable-btn {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                cursor: pointer;
                user-select: none;
                display: flex;
                justify-content: center;
                align-items: center;
                -webkit-app-region: no-drag;

                &.minimize-btn {
                    background: darkorange;
                }

                &.close-btn {
                    background: tomato;
                }

                i {
                    color: white !important;
                    font-size: 8px;
                }
            }
        }
    }
}
