@import "src/styles/theme";

:host {
  position: relative;

  display: grid;
  grid-template-areas: 'navigation-bar' 'router-ng';
  grid-template-rows: 76px auto;
  grid-template-columns: 1fr;
  grid-gap: 0;
  height: 100%;

  .router-ng {
    grid-area: router-ng;
  }

  .navigation-bar {
    grid-area: navigation-bar;
  }
}
