@import "src/styles/theme";

.card {

  &:hover {
    background-color: $primary-black-darker;
  }

  .card-body {
    font-size: 1rem;
  }
}

.sub-text {
  height: 16px;
  display: flex;
  font-size: 0.8rem;
  align-items: center;

  > * {
    margin-right: 0.5rem;
  }
}
