<small class="text-muted">
  Action on
</small>

<h2 class="m-0 weight-lighter">
  repository name
</h2>
<hr>

<div class="card mb-1 card-merge">
  <div (click)="openFolder()"
       class="card-body">
    Open folder
  </div>
</div>

<div class="card mb-1 card-merge">
  <div (click)="removeFromDataBase()"
       class="card-body text-danger">
    Remove from list
    <br>
    <div class="sub-text text-muted">
      The repository will be no longer in application control
    </div>
  </div>
</div>
