@import "src/styles/theme";

:host {
  display: flex;
  flex-direction: column;

  > *:not(:nth-last-child) {
    margin-bottom: 0.75rem;
  }
}

.decision {
  display: flex;
  justify-content: flex-end;

  > *:not(:last-child) {
    margin-right: 0.5rem;
  }
}
