@import "src/styles/theme";

:host {
  position: fixed;
  top: 108px;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: $background-primary-night-selected;
  z-index: 10050;
  padding: 0;
}

.container-fluid {
  display: grid;
  grid-template-areas: 'search' 'action' 'list';
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content auto;
  height: 100%;
  grid-gap: 1rem;
  padding: 0;

  .repoAction {
    grid-area: action;
    padding: 0 1rem;
  }

  .list-repositories {
    grid-area: list;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .repo {
      margin-bottom: 0.5rem;
    }
  }

  .search-repositories {
    grid-area: search;
    display: flex;
    flex-direction: column;

    input.search {
      background: transparent;
      border: none;
      box-shadow: none;

      &:focus {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
