<div class="container-fluid">
  <div class="search-repositories">
    <input class="form-control search"
           mdbInput
           placeholder="Find local repo"
           type="text">
    <hr class="m-0 p-0">
  </div>

  <div class="repoAction">
    <button [color]="'success'"
            [size]="'sm'"
            class="btn-block"
            mdbBtn
            rounded="true"
            type="button">
      <i class="fas fa-plus"></i>
      New Repository
    </button>
  </div>

  <div class="list-repositories">
    <!--    <gitme-repository-item *ngFor="let repo of repositories | async"-->
    <!--      class="repo"></gitme-repository-item>-->
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
    <gitme-repository-item class="repo"></gitme-repository-item>
  </div>
</div>
