<div [class.selected]="branchSummary?.current" class="card">
    <div class="card-body row">
        <div class="remote-status">
            <i class="fas fa-code-branch"></i>
        </div>
        <div class="name">
            {{branchSummary?.name}}
        </div>
        <div class="status">
            <div [title]="pullTitle" class="pull">
                <div class="circle-status bg-info"></div>
            </div>
            <div [title]="pushTitle" class="push">
                <div class="circle-status bg-success"></div>
            </div>
            <div [title]="changesTitle" class="changes">
                <div class="circle-status bg-warning"></div>
            </div>
        </div>
    </div>
</div>

<div class="merge-btn btn-raw">
    1
</div>
