@import "src/styles/theme";

.register-new {
    font-size: 12px;
    display: flex;
    flex-direction: column;

    > * {
        margin-bottom: 0.75rem;
    }

    .form-group {
        display: grid;
        grid-template-columns: minmax(max-content, 70px) auto;
        grid-template-rows: 1fr;
        grid-gap: 0.5rem;

        align-content: center;
        margin-top: 1rem;

        .form-label {
            align-self: center;
        }
    }
}
