<div class="register-new">
  <ng-container *ngIf="!account">
    <button (click)="openAuthorize()"
            class="mt-2 w-100 bg-primary-black"
            mat-flat-button>
      Login with GitHub
    </button>
  </ng-container>

  <ng-container *ngIf="account">
    <label class="card bg-transparent stored-account">
      <div class="card-body body-content row m-0">
        <div class="account-avatar">
          <img [src]="account.avatar_url" alt="">
        </div>
        <div class="account-information">
          <div class="name_local">
            {{account.name}}
          </div>
          <div class="username">
            {{account.email}}
          </div>
        </div>
        <div class="acomi-checkbox-control">
          <input checked class="acomi-input-box"
                 hidden id="cbx"
                 name="account" type="radio"/>
          <span class="cbx">
          <span>
            <svg height="10px" viewBox="0 0 12 10" width="12px">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg>
          </span>
        </span>
        </div>
      </div>
    </label>

    <button (click)="reAccount()"
            class="mt-2 w-100 bg-primary-black-darker"
            mat-flat-button
            type="button">
      Not this account?
    </button>
  </ng-container>
</div>
