@import "src/styles/theme";

.stored-account {
  margin-bottom: 0.5rem;

  &:hover {
    background: $primary-black-lighter;
  }

  .body-content {
    padding: 0.5rem;
    font-size: 12px;
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: 1fr;
    grid-gap: 0.75rem;
  }

  .account-avatar {
    overflow: hidden;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .account-information {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5rem 1rem;
    grid-gap: 0.5rem;

    .name_local {
      font-size: 1.2rem;
      line-height: 1.5rem;
      align-self: center;
    }

    .username {
      font-size: 0.75rem;
      line-height: 1rem;
      align-self: center;
    }
  }
}
