<form [formGroup]="accountForm" class="m-0 p-0">
  <label *ngFor="let account of listExistedAccount; let i = index"
         class="card bg-transparent stored-account">
    <div class="card-body body-content row m-0">
      <div class="account-avatar">
        <img [src]="account.avatar_url" alt="">
      </div>
      <div class="account-information">
        <div class="name_local">
          {{account.name}}
        </div>
        <div class="username">
          {{account.email}}
        </div>
      </div>
      <div class="acomi-checkbox-control">
        <input [value]="account"
               class="acomi-input-box"
               formControlName="account"
               hidden id="cbx"
               name="account" type="radio"/>
        <span class="cbx">
          <span>
            <svg height="10px" viewBox="0 0 12 10" width="12px">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg>
          </span>
        </span>
      </div>
    </div>
  </label>

  <h3 *ngIf="listExistedAccount.length == 0">
    It seems like there is no account here. Login a new one now?
  </h3>
</form>
