<div class="container-fluid">
  <div class="d-flex search-ng">
    <label class="col m-0 pl-0 d-flex">
      <input class="form-control form-control-dark align-self-center"
             mdbInput
             placeholder="Find repository"
             type="text">
    </label>
    <div class="col-auto p-0 d-flex">
      <button class="rounded-btn bg-success align-self-center" type="button">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>

  <div class="col-12 block-repo selected-repos current-ng">
    <h5 class="title-block">
      Selected Repository
    </h5>
    <!--    <small class="text-muted">-->
    <!--      No repo selected-->
    <!--    </small>-->
    <gitme-repository-item></gitme-repository-item>
  </div>

  <div class="col-12 block-repo list-repositories">
    <h5 class="title-block">
      Available Repositories
    </h5>
    <div class="list-repos">
      <gitme-repository-item></gitme-repository-item>
      <gitme-repository-item></gitme-repository-item>
      <gitme-repository-item></gitme-repository-item>
      <gitme-repository-item></gitme-repository-item>
      <gitme-repository-item></gitme-repository-item>
      <gitme-repository-item></gitme-repository-item>
      <gitme-repository-item></gitme-repository-item>
      <gitme-repository-item></gitme-repository-item>
      <gitme-repository-item></gitme-repository-item>
      <gitme-repository-item></gitme-repository-item>
      <gitme-repository-item></gitme-repository-item>
      <gitme-repository-item></gitme-repository-item>
      <gitme-repository-item></gitme-repository-item>
      <gitme-repository-item></gitme-repository-item>
    </div>
  </div>
</div>
