@import "src/styles/theme";

.container-fluid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 44px 4rem auto;
  height: calc(100vh - 64px);
  grid-gap: 1rem;
  padding-top: 15px;

  .current-ng {
    padding-right: 10px;
  }

  .list-repositories {
    padding-bottom: 0;
    padding-right: 0;

    .list-repos {
      padding-right: 4px;
      overflow: auto;
      padding-bottom: 1rem;
      height: 100%;
    }
  }
}

.block-repo {
  position: relative;
  padding-top: 1.7rem;
  padding-left: 0;
  min-height: 2.3rem;
  display: flex;
  flex-direction: column;

  .title-block {
    position: absolute;
    left: 0;
    top: calc(1.7rem / 2);
    transform: translateY(-50%);
    margin: 0;

    font-size: 0.8rem;
    color: #c3c3c3;
    user-select: none;
  }
}
