@import "src/styles/theme";

:host {
    display: grid;
    grid-template-areas: 'information' 'diffs';
    grid-gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem calc(100vh - 112px - 3.5rem);
    position: relative;

    .file-information {
        grid-area: information;
        border-bottom: 1px solid $primary-black;
    }

    .file-diffs {
        grid-area: diffs;
        overflow: auto;
        height: 100%;
        width: 100%;
        position: relative;
    }
}

.file-information {
    display: grid;
    grid-template-areas: 'icon info feature';
    grid-template-rows: 1fr;
    grid-template-columns: 3.5rem auto max-content;
    align-items: center;

    .icon {
        grid-area: icon;
        display: grid;
        place-content: center;

        .circle {
            background: $primary-black;
            width: 2.25rem;
            height: 2.25rem;
            border-radius: 50%;
            display: grid;
            place-content: center;
            font-size: 1rem;
            line-height: 1rem;
        }
    }

    .info {
        grid-area: info;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5rem 2rem;
        grid-gap: 0;
        align-items: center;

        .directory-status {
            display: flex;
            font-size: 0.8rem;
            line-height: 1rem;
            align-self: end;
            align-items: flex-end;

            * {
                color: inherit !important;
            }

            .status {
                margin-right: 0.25rem;
            }

            .directory {
            }
        }

        .name {
            font-size: 1.1rem;
            align-self: start;
        }
    }

    .features {
        grid-area: feature;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 0.5rem;
        padding-right: 0.5rem;
    }
}

.wait-file-option {
    width: 500px;
    height: max-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
