@import "src/styles/theme";

:host {
    display: grid;
    grid-template-areas: 'information' 'diffs';
    grid-gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem calc(100vh - 112px - 4rem);

    .file-information {
        grid-area: information;
    }

    .file-diffs {
        grid-area: diffs;
        overflow: auto;
    }
}
