<h2 class="m-0 weight-lighter title">
  {{data.title}}
</h2>
<p class="mt-0 mb-2 body text-muted body">
  {{data.body}}
</p>

<div class="check-status">
  {{infoMerge ? infoMerge : 'Checking status...'}}
</div>

<div class="form-actions">
  <button (click)="abortMerge()"
          color="warn"
          mat-flat-button>
    {{data.decision.noText}}
  </button>
  <button (click)="merge()"
          [disabled]="disableMerge || checkMergeStatus || !infoMerge"
          color="primary"
          mat-raised-button>
    {{data.decision.yesText}}
  </button>
</div>
