@import "./styles/theme";
@import "./styles/input";
@import "./styles/button";
@import "./styles/scrollbar";
@import "styles/etc";
@import "./styles/icon";
@import "./styles/text";
@import "./styles/layout";
@import "./styles/card";
@import "./styles/code/syntax-highlight";
@import "./styles/special/import-screen";

/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif !important;
    background-color: $primary-black-foreground !important;
}

.cursor-pointer {
    cursor: pointer;
}
