@import "src/styles/theme";

:host {
  position: fixed;
  top: 32px;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  background: rgba(0, 0, 0, 0.2);

  .body-modal {
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background: $background-primary-lighter-night;
    padding: 15px;
    border-radius: 0.5rem;
    box-shadow: $shadow-light;
  }
}
