<div class="body-modal">
  <form [formGroup]="formRegisterRepository">
    <div class="form-group">
      <label for="repo_https">Repository HTTP</label>
      <small class="text-muted">SSH coming soon</small>
      <input class="form-control"
             formControlName="repo_https"
             id="repo_https"
             mdbInput
             placeholder="http://github.com/namdien177/gitme-git-client..."
             type="text">
    </div>
    <div class="form-group">
      <label for="repo_dir">Directory</label>
      <input class="form-control"
             formControlName="repo_dir"
             id="repo_dir"
             mdbInput
             placeholder="Chosen directory"
             type="text">
    </div>
    <button (click)="chooseDirectory()" mdbBtn type="button">test</button>
  </form>
</div>
