<div class="body-modal">
  <form [formGroup]="formRegisterRepository" class="setup-form">
    <div class="first-step-repo">
      <div class="form-group">
        <label for="repo_https">Repository HTTP</label>
        <input class="form-control form-control-dark"
               formControlName="repo_https"
               id="repo_https"
               placeholder="http://github.com/namdien177/gitme-git-client..."
               type="text">
        <small class="text-muted">SSH coming soon</small>
      </div>
      <div class="form-group">
        <label>Directory</label>
        <div class="form-control form-control-dark custom-form-control-feature cursor-pointer">
          <div (click)="chooseDirectory()"
               [class.text-muted]="!!repo_dir.value"
               class="illuminate_area">
            {{illuminateValue_dir}}
          </div>
          <div class="directory_copy">
            <i class="fas fa-copy"></i>
          </div>
        </div>
        <span *ngIf="repo_add_step1_verified" class="text-success">
        Repository directory is clean
      </span>
        <span *ngIf="!repo_add_step1_verified" class="text-danger">
        Repository directory is not clean!
      </span>
      </div>
    </div>
  </form>
  <div class="action-form">
    <button [size]="'sm'" class="btn-warning bg-transparent mr-1" mdbBtn>
      Cancel
    </button>
    <button [size]="'sm'" class="btn-default bg-transparent mr-1" mdbBtn>
      Previous
    </button>
    <button [size]="'sm'" class="btn-info" mdbBtn>
      Setup account
    </button>
  </div>
</div>
