<div (click)="revertChanges()" class="card mb-1">
  <div class="card-body">
    Revert {{data.mode === 'single' ? '' : 'all'}} changes
  </div>
</div>

<div (click)="openFileLocation()" *ngIf="data.mode === 'single'" class="card mb-1">
  <div class="card-body">
    Open file location
  </div>
</div>

<div (click)="copyPath()" *ngIf="data.mode === 'single'" class="card mb-1">
  <div class="card-body">
    Copy file location
  </div>
</div>

<div (click)="ignoreThisFile()" *ngIf="ignoreStatus" class="card mb-1">
  <div class="card-body">
    Ignore this file
  </div>
</div>

<div (click)="ignoreThisExtension()" *ngIf="ignoreStatus" class="card mb-1">
  <div class="card-body">
    Ignore all file with this extension
    <br>
    <small class="text-muted">
      Extension: .{{this.extension}}
    </small>
  </div>
</div>
