<div class="card mb-1" (click)="revertChanges()">
    <div class="card-body">
        Revert changes
    </div>
</div>

<div class="card mb-1" (click)="openFileLocation()">
    <div class="card-body">
        Open file location
    </div>
</div>

<div class="card mb-1" (click)="copyPath()">
    <div class="card-body">
        Copy file location
    </div>
</div>

<div class="card mb-1">
    <div class="card-body">
        Ignore this file
    </div>
</div>

<div class="card mb-1">
    <div class="card-body">
        Ignore all file with this extension
        <br>
        <small class="text-muted">
            Extension: .{{this.extension}}
        </small>
    </div>
</div>
